<% include partials/header %>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="/static/images/logo/logo-big.svg" alt="Bltravel Logo" class="logo-off" id="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item active"><a href="tours" class="nav-link">Tours</a></li>
        <li class="nav-item"><a href="about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="contact" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="https://www.nakai-resort.com/" class="nav-link">Hotel</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->

<div class="hero-wrap js-fullheight" style="background-image: url('/static/images/hero/tours.JPG');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span> <span>Tours</span></p>
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Tour Packages</h1>
        <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Take a look at all of the tour packages we have to offer</p>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <!-- tour packages -->
    <div class="row">

      <% tours.forEach( (tour) => { %>
        <div class="col-sm col-md-6 col-lg-4 ftco-animate">
          <div class="destination">
            <a href="/tours/<%= tour._id %>" class="img img-2 d-flex justify-content-center align-items-center rounded" style="background-image: url('<%= tour.thumbnail %>');">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-link"></span>
              </div>
            </a>
            <div class="text p-3">
              <div class="d-flex">
                <div class="one">
                  <h3><a href="/tours/<%= tour._id %>"><b><%= tour.title %></b></a></h3>
                </div>
              </div>
              <% var len = 75; %>
              <% var truncatedDes = tour.generalDescription.substring(0,len) + "...";%>
              <p class="transformText" ><%= truncatedDes %> </p>
              <% var duration = 0 %>
              <% tour.dayInfo.forEach( () => { duration += 1 } )%>
              <p class="days"><span><%= duration %> days <%= duration + 1 %> nights</span></p>
              <% var categories = "" %>
              <% tour.categories.forEach( (cat) => { categories += cat + " " } ) %>
              <p class="days"><span><%= categories %></span></p>
              <hr>
              <p class="bottom-area d-flex">
              <% var locations = ""; %>
              <% tour.locations.forEach ((location ) => { locations += location + " "}) %>
                <span><i class="icon-map-o"></i> <%= locations %></span>
                <span class="ml-auto"><a href="/tours/<%= tour._id %>">Discover</a></span>
              </p>
            </div>
          </div>
        </div>
  <%})%>
    </div>
  </div>
</section> <!-- .section -->
<!--
<section class="ftco-section-parallax">
  <div class="parallax-img d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          <h2>Subcribe to our Newsletter</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
          <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-8">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <input type="text" class="form-control" placeholder="Enter email address">
                  <input type="submit" value="Subscribe" class="submit px-3">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<% include partials/footer %>
