<% include partials/header %>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="/static/images/logo/logo-big.svg" alt="Bltravel Logo" class="logo-off" id="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li class="nav-item active"><a href="/tours" class="nav-link">Tours</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="https://www.nakai-resort.com/" class="nav-link">Hotel</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->

<div class="hero-wrap js-fullheight" style="background-image: url('<%= tour.thumbnail %>');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span></p>
        <% var duration = 0 %>
        <% tour.dayInfo.forEach( () => { duration += 1 } )%>
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><%= tour.title %><br>(<%= duration %> days and <%= duration - 1 %> nights)</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-degree-bg">
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 ftco-animate text-justify">
      <!-- <div class="container"> -->

        <h2><b>Description</b></h2>
        <p class="transformText"><%= tour.generalDescription %> </p>

        <% tour.dayInfo.forEach( (info) => { %>
        <h2 class="mb-3">Day <%= info.day %>: <b><%= info.title %></b></h2>
        <h5>Route: <%= info.route  %> (<%= info.distance  %>Km/<%= Math.round(info.distance * 1000 * 0.00062137119223733) %>Mi)</h5>
        <div class="transformText text-justify"><%= info.description %></div>
        <br>
        <br>
        <!-- image slider -->
        <%if (info.imageamount !== 0){%>
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="galleria">
                <% info.images.forEach((image) => { %>
                <img src="<%= image.link %>" data-title="<%= image.title %>" data-description="<%= image.description %>">
                <% })%>
              </div>

            </div>
          </div>
        </div>
        <br>
        <br>
      <%} else {%>

      <%}%>
        <% }) %>

        <div class="justify-content-center text-center">
          <a class="btn btn-success rounded" href="<%= tour._id %>/register" role="button">REGISTER FOR THIS TOUR</a>
        </div>
      </div> <!-- .col-md-8 -->


    </div>
  </div>
  <!-- </div> -->
</section>

<script type="text/javascript">     
(function() {
          Galleria.loadTheme('https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/themes/classic/galleria.classic.min.js');
          Galleria.run('.galleria');
      }());
</script>
<% include partials/footer %>
